@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 4%; /* zinc-950 */
    --foreground: 0 0% 98%; /* zinc-50 */
    --muted: 240 4% 11%; /* zinc-900 */
    --muted-foreground: 240 5% 64.9%; /* zinc-400 */
    --border: 240 4% 16%; /* zinc-800 */
    --ring: 240 4.9% 83.9%;
    --primary: 240 4% 16%; /* zinc-800, matches buttons */
    --primary-foreground: 0 0% 98%;
  }
}
